<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.0.7022.0">
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity" config:key="3" config:flags="1" />
	</typeImplementationsMapping>
	<outputCacheSettings>
		<profiles>
			<add varyByUserAgent="false" name="No Caching" config:flags="1" />
			<add varyByUserAgent="false" name="Standard Caching" config:flags="1" />
			<add varyByUserAgent="false" name="Long Caching" config:flags="1" />
			<add varyByUserAgent="false" name="Any Location" config:flags="1" />
		</profiles>
	</outputCacheSettings>
</systemConfig>