<div id="offline-detector" style="background-color: #d32f2f; color: white; display: block; text-align: center;">
    Looks like you went offline, some data might not be available.
</div>

<script>
    const offlineDiv = document.getElementById("offline-detector")

    window.addEventListener('offline', function (e) {
        offlineDiv.style.display = "block";
    });

    window.addEventListener('online', function (e) {
        offlineDiv.style.display = "none";
    });

    offlineDiv.style.display = window.navigator.onLine ? "none" : "block";

</script>